{% macro forminput(field) %}
<div class="form-control w-full max-w-xs">
    <label class="label"><span class="label-text">{{ field.label }}</span></label>
    {{ field(class="input input-bordered w-full " + "input-error" if field.errors else "input input-bordered w-full",
    **kwargs) }}
    {% if field.errors %}
    <div class="label">
        {% for error in field.errors %}
        <div class="text-xs text-error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}