{% set company_name = "Call for Saul" %}

<!DOCTYPE html>
<html lang="de" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %}
        {{ company_name }}
        {% endblock %}
    </title>
</head>

<body>
    <div class="container mx-auto mt-8">
        <div class="navbar bg-base-300 rounded-lg shadow-md">
            <div class="navbar-start">
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost normal-case text-xl" href="{{url_for('main.start_page')}}">{{ company_name
                    }}</a>
                <!-- TODO:Name -->
            </div>
            <div class="navbar-end">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h7" />
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-compact dropdown-content mt-3 p-2 shadow-2xl bg-base-200 rounded-box w-52">
                        <li><a href="{{ url_for('lawyers.lawyers_page')}}">Anwälte</a></li>
                        <li><a href="{{url_for('cases.cases_page')}}">Fälle</a></li>
                        <li><a href="{{ url_for('clients.clients_page')}}">Mandanten</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert mt-4 alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{message}}</span>
            </div>
            {% elif category == 'warning' %}
            <div class="alert mt-4 alert-warning">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span>{{message}}</span>
            </div>
            {% elif category == 'info' %}
            <div class="alert mt-4 alert-info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="stroke-current shrink-0 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>{{message}}</span>
            </div>
            {% elif category == 'success' %}
            <div class="alert mt-4 alert-success">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{message}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <!-- TODO: Add Flash Message Support -->

    <div class="container mt-8 mx-auto">
        {% block content %}
        <h1 class="text-3xl font-bold">No Content to be found</h1>
        {% endblock %}
    </div>

</body>

</html>