{% extends 'base.html' %}
{% block title %}
{{ company_name }} - Mandanten
{% endblock %}
{% block content %}
{% from 'macros/search.html' import feedback, search_field %}

<div class="grid grid-cols-3">
    <form method="GET">
        <div>
            {{ search_field(search, clients) }}
        </div>
    </form>
    <div>
        <div class="text-4xl font-bold text-accent text-center">
            Mandanten
        </div>
    </div>
    <div class="text-end">
        <a href="{{ url_for('persons.create_person',type='client')}}" class="btn btn-base-content">Mandanten Anlegen</a>
    </div>
</div>
{{ feedback("Mandant", "Mandanten", search, clients) }}
<div class="flex flex-col mt-5">
    <!-- <div class="flex justify-end"></div> -->
    <div class="overflow-x-auto text-center mt-5">
        <table class="table table-sm">
            <thead>
                <tr class="bg-base-200">
                    <th class="rounded-tl-lg">Name</th>
                    <th>Nachname</th>
                    <th>Geburtsdatum</th>
                    <th>Adresse</th>
                    <th>Telefonnummer</th>
                    <th class="rounded-tr-lg">Email</th>
                </tr>
            </thead>

            <tbody>
                {% for client in clients %}
                <tr class="hover:bg-base-200">
                    <td>{{ client.name }}</td>
                    <td>{{ client.surname }}</td>
                    <td>{{ client.birthdate }}</td>
                    <td>
                        {% if client.address is not none %}
                        {{ (client.address.street + " " + client.address.house_number + ", " + client.address.zip_code +
                        " " + client.address.city)|truncate(50) }}
                        {% endif %}
                    </td>
                    <td>
                        {% for cinfo in client.contactinfos[:2] %}
                        {% if cinfo.phone_number is not none %}
                        <div class="badge badge-outline">
                            {{ cinfo.phone_number }}
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% if client.contactinfos|length > 2 %}
                        <div class="badge badge-outline">...</div>
                        {% endif %}
                    <td>
                        {% for cinfo in client.contactinfos[:2] %}
                        {% if cinfo.email is not none %}
                        <div class="badge badge-outline">
                            {{ cinfo.email }}</div>
                        {% endif %}
                        {% endfor %}
                        {% if client.contactinfos|length > 2 %}
                        <div class="badge badge-outline">...</div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% from 'macros/pagination.html' import paginate %}
        {{ paginate(clients, 'clients.clients_page', search=search) }}
    </div>
</div>

{% endblock %}