{% extends 'base.html' %}
{% block title %}
{{ company_name }} - Mandanten Anlegen
{% endblock %}
{% block content %}
{% from 'macros/form-input.html' import forminput %}
<form action="" method="POST" class="mb-4">
    {{ form.csrf_token }}
    <div class="grid grid-cols-3">
        <div>
        </div>
        <div>
            <div class="text-4xl font-bold text-accent text-center">
                Person Anlegen
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-success">Speichern</button>
        </div>
    </div>

    <div class="card w-fit mt-5 mx-auto shadow bg-base-200">
        <div class="card-body">
            <h2 class="card-title">Persönliche informationen</h2>
            <div class="grid grid-cols-2 gap-4 ">
                <div class="grid-cols-2 flex-col">
                    {{forminput(form.name)}}
                </div>
                <div class="grid-cols-2 flex-col">
                    {{forminput(form.surname)}}
                </div>
                <div class="grid-cols-2 ">
                    {{forminput(form.birthdate)}}
                </div>
                <div class="form-control">
                    <label class="label label-text">Was möchtest du Anlegen?</label>
                    <select class="select select-bordered w-full max-w-xs" name="lawyer_or_client">
                        <option disabled selected>Was möchtest du Anlegen?</option>
                        <option {% if type=="lawyer" %} selected {% endif %} value="lawyer">Anwalt</option>
                        <option {% if type=="client" %} selected {% endif %} value="client">Mandant</option>
                        <option value="">Anderes</option>
                    </select>
                </div>

            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div class="card shadow bg-base-200 mt-5">
            <div class="card-body">
                <div class="card-title">Kontaktdaten</div>
                {{forminput(form.phone_number)}}
                {{forminput(form.email)}}
            </div>
        </div>
        <div class="card shadow bg-base-200 mt-5">
            <div class="card-body">
                <div class="card-title">Adresse</div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        {{forminput(form.country)}}
                        {{forminput(form.city)}}
                        {{forminput(form.zip_code)}}
                    </div>
                    <div>
                        {{forminput(form.street)}}
                        {{forminput(form.house_number)}}
                        <div class="form-control">

                            <label class="label label-text">Existierende Adresse wählen</label>
                            <select class="select select-bordered w-full max-w-xs" name="address">

                                {% for address in form.address.choices %}
                                <option value="{{address[0]}}"> {{address[1]}}

                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}