{% extends 'base.html' %}
{% block title %}
{{ company_name }} - Fall Bearbeiten
{% endblock %}

{% block content %}
<!-- TODO: Add action choice -->
<form action="" method="POST" enctype="multipart/form-data">
    <div class="grid grid-cols-3">
        <div>
            <a class="btn btn-primary btn-sm" href="{{ url_for('cases.case', case_id=case.id) }}">Zurück</a>
        </div>
        <div>
            <div class="text-4xl font-bold text-accent text-center">
                Fall Bearbeiten
            </div>
        </div>
        <div class="text-end">
            <div class="join">
                <button class="btn btn-success join-item">Speichern</button>
                <button class="btn btn-error join-item" formaction="{{
                    url_for('cases.delete_case', case_id=case.id)
                }}">Löschen</button>
            </div>
        </div>
    </div>
    <div class="tabs tabs-boxed w-fit mx-auto mt-4">
        <a class="tab {% if page == 'detail' %}
            tab-active
        {% endif %}" href="{{url_for('cases.edit_case_details', case_id=case.id)}}">Allgemeine Informationen</a>

        <a class="tab {% if page == 'involved' %}
        tab-active
        {% endif %}" href="{{url_for('cases.edit_case_involved', case_id=case.id)}}">Involvierte Personen</a>

        <a class="tab {% if page == 'documents' %}
        tab-active
        {% endif %}" href="{{url_for('cases.edit_case_documents', case_id=case.id)}}">Dokumente</a>

        <a class="tab {% if page == 'trials' %}
        tab-active
        {% endif %}" href="{{url_for('cases.edit_case_trials', case_id=case.id)}}">Verhandlungen</a>
    </div>
    {% block form_content %}
    <div class="text-4xl font-bold mt-20 text-center">
        Nothing to see here
    </div>
    {% endblock %}
</form>
{% endblock %}