{% extends 'edit_case.html' %}
{% block title %}
{{ company_name }} - Fall Bearbeiten
{% endblock %}
{% set page = "involved" %}
{% set page_url = "cases.edit_case_involved" %}

{% block form_content %}
{% from 'macros/form-input.html' import fullforminput %}

{{ form.csrf_token }}


<div class="grid grid-cols-6 gap-4 mt-4">
    <div class="col-span-2 text-end">
        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form.person.label }}</span>
            </label>
            <select class="select w-full max-w-lg select-bordered" name="person">
                <option disabled selected>Wähle eine Person</option>
                {% for p in form.person.choices %}
                <option value="{{ p[0] }}">{{ p[1] }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-control">
            <label class="label">
                <span class="label-text">{{ form.role.label }}</span>
            </label>
            <select class="select w-full max-w-lg select-bordered" name="role">
                <option disabled selected>Wähle eine Rolle</option>
                {% for r in form.role.choices %}
                <option value="{{ r[0] }}">{{ r[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-success mt-4"
            formaction="{{ url_for(request.endpoint, case_id=case.id) }}/add">Hinzufügen</button>
    </div>

    <div class="col-span-4">
        <div class="card bg-base-200 shadow h-fit">
            <div class="card-body">
                <h2 class="card-title">Involviete Personen</h2>
                <div class="overflow-visible">
                    <table class="table table-sm ">
                        <thead>
                            <tr class="bg-base-100">
                                <th class="rounded-tl-lg">Name</th>
                                <th>Rolle</th>
                                <th>Mandanten</th>
                                <th class="rounded-tr-lg"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for person in case.involved %}
                            <tr class="hover:bg-base-100">
                                <th>{{ person.person.name }} {{ person.person.surname }}</th>
                                <th>
                                    <div class="badge badge-outline">
                                        {{ person.role.display() }}
                                    </div>
                                </th>
                                <th>
                                    {% if person.role.is_lawyer() %}

                                    {% for client in person.clients %}
                                    <div class="badge badge-outline group">
                                        {{ client.person.name }} {{ client.person.surname }}
                                        <a href="{{ url_for('cases.edit_case_involved', case_id=case.id) }}/{{ person.id }}/clients/{{ client.id }}/remove"
                                            class="group-hover:w-4 w-0 transition-width duration-300 ease-in-out overflow-hidden">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        </a>
                                    </div>
                                    {% endfor %}

                                    {% if possible_clients[person.id] != [] %}
                                    <div class="dropdown dropdown-hover">
                                        <label tabindex="0" class="btn btn-sm rounded-full btn-outline">+</label>
                                        <ul tabindex="0"
                                            class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                            {% for pc in possible_clients[person.id] %}
                                            <li><a
                                                    href="{{ url_for('cases.edit_case_involved', case_id=case.id) }}/{{ person.id }}/clients/{{ pc.id }}/add">{{pc.person.name
                                                    }} {{pc.person.surname}}</a></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    {% endif %}

                                    {% endif %}
                                </th>
                                <th class="text-end">
                                    <button class="btn btn-error btn-sm"
                                        formaction="{{ url_for(request.endpoint, case_id=case.id) }}/{{ person.id }}/remove">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.25" stroke="currentColor" class="w-4 h-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>

                                    </button>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}